Repository arnitdo/communitty, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, Server-Routes, Server-Utils, Dependencies, Automation, Client-Dependencies, Client-Assets, Client-Source

.github/labeler.yml:

Docs:
  - docs/*

Server-Routes:
  - routes/*
  - server.ts

Server-Utils:
  - utils/*

Dependencies:
  - package*

Automation:
  - .github/**

Client-Dependencies:
  - client/package*

Client-Assets:
  - client/public/**

Client-Source:
  - client/src/**

:sparkles: Rewrite API Request hooks and handlers
  client/src/utils/apiHandler.ts
Labels: Client-Source

Use custom hooks in topbar
  client/src/components/topbar.tsx
Labels: Client-Source

Add postCard component
  client/src/components/postCard.tsx
Labels: Client-Source

WIP: Home page & feed layout
  client/src/pages/homeFeed.tsx
Labels: Client-Source

Update deps
  client/package-lock.json
  client/package.json
Labels: Client-Dependencies

Move home icon component to separate file
  client/public/home-icon-cropped.svg
  client/src/components/homeIcon.tsx
Labels: Client-Assets, Client-Source

Fix response code in authRoutes
  routes/authRoutes.ts
Labels: Server-Routes

Changes to feed responses
  routes/feedRoutes.ts
Labels: Server-Routes

WIP: Add login page component
  client/src/pages/loginPage.tsx
Labels: Client-Source

Add auth state refresh trigger
  client/src/App.tsx
Labels: Client-Source

Add optional dependency list for API Requests
  client/src/utils/apiHandler.ts
Labels: Client-Source

Fix post card styling
  client/src/components/postCard.tsx
Labels: Client-Source

Extend custom theme and use theme globally
  client/src/index.tsx
  client/src/utils/themeConfig.ts
Labels: Client-Source

Use HomeIcon component and cleanup code
  client/src/components/topbar.tsx
Labels: Client-Source

Add external type def file
  client/src/utils/typeDefs.ts
Labels: Client-Source

Move interfaces to typedef file
  client/src/components/postCard.tsx
  client/src/utils/typeDefs.ts
Labels: Client-Source

Move profile data into global context & Overall code structure changes
  client/public/index.html
  client/src/App.tsx
  client/src/components/postCard.tsx
  client/src/components/topbar.tsx
  client/src/index.tsx
  client/src/pages/homeFeed.tsx
  client/src/pages/loginPage.tsx
  client/src/utils/apiHandler.ts
  client/src/utils/profileContext.ts
  client/src/utils/typeDefs.ts
  routes/feedRoutes.ts
Labels: Server-Routes, Client-Assets, Client-Source

Add algorithm options to JWT (Port to v9.0.0)
  routes/authRoutes.ts
  utils/common.ts
Labels: Server-Routes, Server-Utils

Typedef hotfix
  utils/common.ts
Labels: Server-Utils

API Fixes and User Friendly Toasts
  client/src/App.tsx
  client/src/components/postCard.tsx
  client/src/pages/homeFeed.tsx
  client/src/utils/apiHandler.ts
  utils/common.ts
Labels: Server-Utils, Client-Source

Remove testing changes for JWT
  utils/common.ts
Labels: Server-Utils

Cleanup content type, massive UI/UX changes
  client/src/components/postCard.tsx
  client/src/pages/homeFeed.tsx
  client/src/utils/typeDefs.ts
Labels: Client-Source

Refactor account activation toast & Signup Routing
  client/src/App.tsx
Labels: Client-Source

Minor refactor
  server.ts
Labels: Server-Routes

Refactor type definitions
  client/src/utils/apiHandler.ts
  client/src/utils/typeDefs.ts
Labels: Client-Source

Refactor home icon
  client/src/components/homeIcon.tsx
Labels: Client-Source

Revamp Login / Signup UI
  client/src/components/postCard.tsx
  client/src/components/themeSwitch.tsx
  client/src/components/topbar.tsx
  client/src/pages/loginPage.tsx
  client/src/pages/signupPage.tsx
Labels: Client-Source

WIP: Fix avatars and minor CSS tweaks
  client/src/App.tsx
  client/src/components/postCard.tsx
  client/src/pages/homeFeed.tsx
  client/src/pages/signupPage.tsx
  routes/userRoutes.ts
  server.ts
Labels: Server-Routes, Client-Source

Add user cards, refactor layout and responsive content
  client/src/App.tsx
  client/src/components/postCard.tsx
  client/src/components/userCard.tsx
  client/src/pages/homeFeed.tsx
  client/src/utils/typeDefs.d.ts
  routes/feedRoutes.ts
Labels: Server-Routes, Client-Source
