Repository arnitdo/communitty, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, Server-Routes, Server-Utils, Dependencies, Automation, Client-Dependencies, Client-Assets, Client-Source

.github/labeler.yml:

Docs:
  - docs/*

Server-Routes:
  - routes/*
  - server.ts

Server-Utils:
  - utils/*

Dependencies:
  - package*

Automation:
  - .github/**

Client-Dependencies:
  - client/package*

Client-Assets:
  - client/public/**

Client-Source:
  - client/src/**

Implement comment likes/dislikes
  routes/commentRoutes.ts
Labels: Server-Routes

[skip ci] WIP: User profiles and follows
  routes/userRoutes.ts
Labels: Server-Routes

Require activated users for comment likes
  routes/apiRoutes.ts
  routes/commentRoutes.ts
Labels: Server-Routes

Add validation checks for comment/post ids
  utils/common.ts
Labels: Server-Utils

Add missing db rollback on error
  routes/postRoutes.ts
Labels: Server-Routes

Add user followers/following, follow/unfollow actions
  routes/userRoutes.ts
Labels: Server-Routes

Add homefeed routes
  routes/feedRoutes.ts
Labels: Server-Routes

Simplify auth header checking
  routes/apiRoutes.ts
  routes/commentRoutes.ts
  routes/postRoutes.ts
  routes/userRoutes.ts
  utils/common.ts
Labels: Server-Routes, Server-Utils

Add fallback feed flag
  routes/feedRoutes.ts
Labels: Server-Routes

Add node-fetch as dependency
  package-lock.json
  package.json
Labels: Dependencies

Drop references to video posts, add parent post id in comment_likes
  routes/postRoutes.ts
  utils/setup.sql
Labels: Server-Routes, Server-Utils

Don't normalize arrays, tags are now arrays rather than objects
  routes/userRoutes.ts
Labels: Server-Routes

Use parent post id in comment likes
  routes/commentRoutes.ts
Labels: Server-Routes

Don't normalize arrays. Extension of commit 3fe392
  routes/feedRoutes.ts
Labels: Server-Routes

Add password reset functionality
  routes/authRoutes.ts
  routes/postRoutes.ts
  utils/emailService.ts
  utils/setup.sql
Labels: Server-Routes, Server-Utils

Add profile update action
  routes/userRoutes.ts
Labels: Server-Routes

Refactor column names, fix middleware allowing empty strings to pass
  utils/middleware.ts
  utils/setup.sql
Labels: Server-Utils

Cleanup unused import
  server.ts
Labels: Server-Routes

Fix post tag fetching
  routes/postRoutes.ts
Labels: Server-Routes

Add initial client files
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/public/robots.txt
  client/src/App.tsx
  client/src/components/topbar.tsx
  client/src/endpoint.ts
  client/src/index.tsx
  client/src/styles/topbar.css
  client/src/utils/apiHandler.ts
  client/src/utils/localStorage.ts
  client/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Labels: Dependencies, Client-Dependencies, Client-Assets, Client-Source

Move react query dependency to correct directory
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Labels: Dependencies, Client-Dependencies

WIP: Working client API implementation
  client/src/components/topbar.tsx
  client/src/index.tsx
  client/src/utils/apiHandler.ts
Labels: Client-Source

Specify production node version in package.json
  package.json
Labels: Dependencies

Relax engines requirements from semver to major
  package.json
Labels: Dependencies

Add type definitions to ModerateContent API call
  routes/postRoutes.ts
Labels: Server-Routes

Add updated package-lock.json file
  package-lock.json
Labels: Dependencies

Revert node-fetch version update & add to ignorelist
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: Dependencies, Automation

Remove CI flag in build_test
  .github/workflows/build_test.yml
Labels: Automation

Minor API changes
  routes/apiRoutes.ts
  routes/authRoutes.ts
  routes/userRoutes.ts
Labels: Server-Routes

Update metadata files & dependencies
  client/package-lock.json
  client/package.json
  client/public/favicon-dark.ico
  client/public/favicon-light.ico
  client/public/favicon.ico
  client/public/home-icon.svg
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/public/robots.txt
Labels: Client-Dependencies, Client-Assets

JWT Changes
  utils/common.ts
Labels: Server-Utils

WIP: Client progress
  client/src/components/themeSwitch.tsx
  client/src/components/topbar.tsx
  client/src/index.tsx
  client/src/styles/topbar.css
  client/src/utils/apiHandler.ts
  client/src/utils/localStorage.ts
  client/src/utils/themeConfig.ts
Labels: Client-Source

Fix node version in workflow
  .github/workflows/build_test.yml
Labels: Automation

Refactor ERR_NO_TOKEN to ERR_AUTH_REQUIRED
  client/src/utils/localStorage.ts
  utils/middleware.ts
Labels: Server-Utils, Client-Source

Add optional dev exit command for nodemon
  package.json
Labels: Dependencies

Update deps, add markdown deps and remove react-query in favor of custom hooks
  client/package-lock.json
  client/package.json
Labels: Client-Dependencies

Update 404 and 200 responses to be JSON
  routes/apiRoutes.ts
Labels: Server-Routes

Minor tsc ignore changes
  utils/emailService.ts
Labels: Server-Utils

Add user recommendations in feed
  routes/feedRoutes.ts
Labels: Server-Routes

Port from react-helmet to react-helmet-async
  client/src/App.tsx
  client/src/components/themeSwitch.tsx
  client/src/index.tsx
Labels: Client-Source
