Repository arnitdo/communitty, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, Server-Routes, Server-Utils, Dependencies, Automation, Client-Dependencies, Client-Assets, Client-Source

.github/labeler.yml:

Docs:
  - docs/*

Server-Routes:
  - routes/*
  - server.ts

Server-Utils:
  - utils/*

Dependencies:
  - package*

Automation:
  - .github/**

Client-Dependencies:
  - client/package*

Client-Assets:
  - client/public/**

Client-Source:
  - client/src/**

Refactor postID -> postId
  routes/postRoutes.ts
  server.ts
  utils/middleware.ts
Labels: Server-Routes, Server-Utils

Use express.Router & rate limiter
  package-lock.json
  package.json
  routes/apiRoutes.ts
  routes/authRoutes.ts
  routes/clientRoutes.ts
  routes/postRoutes.ts
  server.ts
Labels: Server-Routes, Dependencies

Create posts fetching route
  routes/authRoutes.ts
  routes/postRoutes.ts
  utils/common.ts
Labels: Server-Routes, Server-Utils

Add error safeguards & refactor strings
  routes/postRoutes.ts
Labels: Server-Routes

Modify post searching algorithm
  routes/postRoutes.ts
Labels: Server-Routes

Add comment routes, post and id validation
  routes/apiRoutes.ts
  routes/authRoutes.ts
  routes/commentRoutes.ts
  routes/postRoutes.ts
  utils/common.ts
  utils/middleware.ts
  utils/setup.sql
Labels: Server-Routes, Server-Utils

Add build status badge
  docs/README.md
Labels: Docs

Refactor database queries to avoid dangling transactions
  routes/authRoutes.ts
  routes/commentRoutes.ts
  routes/postRoutes.ts
  utils/common.ts
  utils/middleware.ts
Labels: Server-Routes, Server-Utils

Refactor db queries
  routes/postRoutes.ts
Labels: Server-Routes

Migrate from heroku to render
  Procfile
Labels: none

Cleanup refs to Heroku
  docs/README.md
  utils/setup.sql
Labels: Docs, Server-Utils

Minor refactor
  routes/apiRoutes.ts
  routes/postRoutes.ts
Labels: Server-Routes

Refactor middleware
  utils/middleware.ts
Labels: Server-Utils

Add comment updation routes & update comments schema
  routes/commentRoutes.ts
  utils/common.ts
  utils/setup.sql
Labels: Server-Routes, Server-Utils

Minor refactor and error handling
  routes/apiRoutes.ts
  routes/authRoutes.ts
  utils/db.ts
Labels: Server-Routes, Server-Utils

Implement swagger API documentation
  docs/swagger.json
  package-lock.json
  package.json
  routes/apiRoutes.ts
  tsconfig.json
Labels: Docs, Server-Routes, Dependencies

Modify build-dev script
  package.json
Labels: Dependencies

Minor client changes
  client/src/endpoint.ts
  client/src/index.tsx
Labels: Client-Source

Modify request caching rules
  server.ts
Labels: Server-Routes

Change activation token logic
  routes/authRoutes.ts
Labels: Server-Routes

Use NextFunction type from express
  utils/middleware.ts
Labels: Server-Utils

Add post like/dislike actions
  routes/postRoutes.ts
Labels: Server-Routes

Add object like schema
  routes/commentRoutes.ts
  utils/setup.sql
Labels: Server-Routes, Server-Utils

WIP: User routes
  routes/apiRoutes.ts
  routes/userRoutes.ts
Labels: Server-Routes

WIP: User profiles [skip ci]
  client/src/index.tsx
  routes/postRoutes.ts
  routes/userRoutes.ts
Labels: Server-Routes, Client-Source

Update README to reflect dev changes
  docs/README.md
Labels: Docs

Minor docs update
  docs/swagger.json
Labels: Docs

Add user profiles SQL
  utils/setup.sql
Labels: Server-Utils

Implement user avatars and profiles
  routes/authRoutes.ts
Labels: Server-Routes

Add user profile, posts and comments routes
  routes/userRoutes.ts
Labels: Server-Routes

Add user avatar redirect
  routes/userRoutes.ts
Labels: Server-Routes

[skip ci] Add private field to package.json
  package.json
Labels: Dependencies

Add user validation middleware and helper
  routes/postRoutes.ts
  routes/userRoutes.ts
  utils/common.ts
  utils/middleware.ts
Labels: Server-Routes, Server-Utils

Update client docs + add middleware
  client/src/endpoint.ts
  routes/userRoutes.ts
Labels: Server-Routes, Client-Source

Refactor typo
  utils/setup.sql
Labels: Server-Utils

Add optional token middleware
  utils/middleware.ts
Labels: Server-Utils

Minor docs change
  utils/common.ts
Labels: Server-Utils

Move cache settings to API router
  routes/apiRoutes.ts
Labels: Server-Routes

Move cache control to API
  server.ts
Labels: Server-Routes

Add optional like status checking
  routes/postRoutes.ts
Labels: Server-Routes
