Repository arnitdo/communitty, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, Server-Routes, Server-Utils, Dependencies, Automation, Client-Dependencies, Client-Assets, Client-Source

Remove unnecessary LIMIT statement
  routes/authRoutes.ts
Labels: Server-Routes

Add API 404 route
  routes/clientRoutes.ts
Labels: Server-Routes

Add post update route
  routes/postRoutes.ts
  server.ts
  utils/setup.sql
Labels: Server-Routes, Server-Utils

Move middleware to separate file
  server.ts
  utils/common.ts
  utils/middleware.ts
Labels: Server-Routes, Server-Utils

Add post delete route
  routes/postRoutes.ts
  server.ts
  utils/middleware.ts
  utils/setup.sql
Labels: Server-Routes, Server-Utils

Reorganise imports
  server.ts
Labels: Server-Routes

Create SECURITY.md
  docs/SECURITY.md
Labels: Docs

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: Automation

.github/labeler.yml:

Docs:
  - docs/*

Server-Routes:
  - routes/*
  - server.ts

Server-Utils:
  - utils/*

Dependencies:
  any: ['package.json', 'package-lock.json']

Automation:
  - .github/**

Client-Dependencies:
  any: ['client/package.json', 'client/package-lock.json']

Client-Assets:
  - client/public/**

Client-Source:
  - client/src/**
